body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
  
main {
    flex: 1 0 auto;
}

i.icon-teal {
    color: #26a69a;
}

p.justify {
    text-align: justify;
}

div.no-padding {
    padding: 0px;
}